<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="style.css">
   <!-- Import Vue.js -->

  
  <title>Frontend Mentor | E-commerce product page</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
<div id="app">
  <!-- start of nav-menu -->
   <nav>
    <h2>Sneakers</h2>
    <ul>
      <li><a href="#">Collections</a></li>
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="cart-icon" >
      <p @click="displayCart=!displayCart">{{cart}}</p>
      <img src="images/icon-cart.svg">
      <img src="images/image-avatar.png" width="20">
    </div>

   </nav>
   <transition>
   <div v-if="displayCart" class="product-dropdown">
    <ul>
      <li v-for="product in cart">{{product.id}}</li>
    </ul>
   </div>
  </transition>
    <!-- end of nav-menu -->

    <!-- start of inner product detail -->
    <!-- start of product images -->
  <div class="product-container">
    <div>
     <img :src="image" width="500">

     <div> 
     <img class="color-circle hov"
          v-for="(images, index) in variant"
          :key="images.id" 
          @mouseover="updateVariant(index)"
          :src="images.image"
          :ba>
     </img>

  </div>
    </div>
     <!-- end of product images-->

    <div class="productDetails">
      <h3>{{title}}</h3>
      <h2 class="productName">{{productName}}</h2>
      <p>{{description}}</p>
      <h2>{{price}}</h2>

      <div class="btn-wrapper">
        <div><button @click="removeFromCart">-</button>
          <span>{{cart}}</span>
         <button @click="addToCart">+</button>
        </div>
        <div>
          <button @click="addToBag(product)"><img src="images/icon-cart.svg" width="15">Add to cart</button>
      
        </div>
      
        </div>
       
    </div>
   

  </div>
  </div>
  <!-- Sneaker Company

  Fall Limited Edition Sneakers

  These low-profile sneakers are your perfect casual wear companion. Featuring a 
  durable rubber outer sole, they’ll withstand everything the weather can offer.

  $125.00
  50%
  $250.00

  0
  Add to cart -->
</div>
 
</body>

<script src="./component/productDisplay.js"></script>


</html>